@model FooYes.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container-md w-75 mt-5">
        <h4>Create a new account.</h4>
        <hr/>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row mb-2">
            @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="row mb-2">
            @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="row mb-2">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input type="submit" class="btn-lg btn-primary" value="REGISTER"/>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}